.container{
    display: grid;
    justify-content: center;
    align-items: center;
}

.calculator{
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    max-inline-size: 22rem;
    box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.15), 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
}

.calculator__output{
    font-size: 2rem;
    text-align: end;
    background: hsl(202, 11%, 29%);
    color: hsl(255, 100%, 100%);
    padding-block-start: 0.25rem;
    padding-block-end: 0.25rem;
    padding-inline-end: 0.75rem;
}

.calculator__keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.calculator__key{
    border: none;
    padding-block-start: 0.5rem;
    padding-block-end: 0.5rem;
    padding-inline-start: 1.25rem;
    padding-inline-end: 1.25rem;
    font-size: 1.5rem;
}

.calculator__key--operator{

}

.calculator__key--enter{
    grid-column:  4 / 5;
    grid-row: 2 / span 4;
}